<div style="padding:0.5%" *ngIf="cartItemsList.length>0; else noresults">
	<table mat-table [dataSource]="datasource" style="width:100%;">
	
	  <ng-container matColumnDef="product">
	    <th mat-header-cell *matHeaderCellDef> Product </th>
	    <td mat-cell *matCellDef="let element" style="width:30%"> <img src="{{element.imageUrl}}" class="image-size"> </td>
	    <td mat-footer-cell *matFooterCellDef>  </td>
	  </ng-container>
	
	  <ng-container matColumnDef="details">
	    <th mat-header-cell *matHeaderCellDef> Product Details </th>
	    <td mat-cell *matCellDef="let element" style="width:30%">
	    	<div>
	    		<p>{{element.name}}</p>
	    		<p>{{element.unitPrice}}</p>
	    	</div>
	    </td>
	    <td mat-footer-cell *matFooterCellDef>  </td>
	  </ng-container>
	
	  <ng-container matColumnDef="purchase">
	    <th mat-header-cell *matHeaderCellDef> </th>
	    <td mat-cell *matCellDef="let element" style="width:40%">
	    	<div style="line-height:20px">
	    		<div style="display:inline-block;">
 					<button mat-icon-button (click)="incrementQuantity(element)"><mat-icon>add_circle</mat-icon></button>
 				</div>
 				<div style="display:inline-block;">
 					<p>Quantity : {{element.numberOfUnits}}</p>
 				</div>
 				<div style="display:inline-block;" *ngIf="element.numberOfUnits > 0">
 					<button mat-icon-button (click)="decrementQuantity(element)"><mat-icon>remove_circle</mat-icon></button>
 				</div>
 				<div style="display:inline-block;" *ngIf="element.numberOfUnits == 0">
 					<button mat-icon-button><mat-icon>remove_circle</mat-icon></button>
 				</div>
 				<div style="padding-left:12px">
	    			<p>Subtotal : {{ element.unitPrice * element.numberOfUnits }}</p>
	    		</div>
	    	</div>
	    </td>
	    <td mat-footer-cell *matFooterCellDef>
	    	<div style="padding-left:12px;line-height:20px">
	    		<p style="font-weight:bold">Total Quantity : {{totalQuantity}}</p>
	    		<p style="font-weight:bold">Total Price : {{ totalCartValue.toFixed(2) | currency: 'USD' }}</p>
	    		<a routerLink="/checkout" mat-raised-button color="primary">Checkout</a>
	    	</div>
	    </td>
	  </ng-container>
	  
	
	  <tr mat-header-row *matHeaderRowDef="['product','details','purchase']"></tr>
	  <tr mat-row *matRowDef="let row; columns: ['product','details','purchase']"></tr>
	  <tr mat-footer-row *matFooterRowDef="['product','details','purchase']; sticky: true"></tr>
	</table>
</div>
<ng-template #noresults>
	<div style="padding:5%">
		<p style="font-weight:bold;color:white">No items have been added to cart</p>
	</div>
</ng-template>